@use '../abstracts/variables' as *;

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color-background;
    font-family: $font-family;
}

