// ============================================
// BREAKPOINTS
// ============================================

$breakpoint-mobile: 768px;
// aca agregariamos todos los demas pero solo se pidio mobile.
